/* 
colow pallete
https://colorhunt.co/palette/171695 

white #f1f3f4
light blue #79bac1
dark blue #2a7886
purple #512b58
*/


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



.box {
	height: 175px;
	width: 175px;
	background-color: #79bac1;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	text-align: center;
	line-height: 175px;
	font-size: 100px;
	color: white;
}



.titletext {
	text-align: center;
	color: #512b58;
}

h1.titletext {font-size: 3em}
p.titletext {font-size: 2em}



#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 595px;
	width: 595px;
	background-color: #512b58;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}


#lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

	.hidden {
		display: none;
	}

	.unhidden {
		display: block;
	}

	#x {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		z-index: 2;
	}

#positionMessage{
	position: absolute;
	top: 45px;
	left: 0px;
	width: 100%;

}

#boundaryMessage{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 200px;
	background-color: rgba(255,255,255,0.9);
	z-index: 1;
	padding: 30px;
	border: thick solid #512b58;
}


#controls {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#newbutton {
	position: absolute;
	top: 15px;
	right: 15px;
	height: 40px;
	width: 100px;
	background-color: #2a7886;
	color: #512b58;
	border-width: 4px;
	font-size: 12px;
}


body {
	background-color: #79bac1;
	font-family: 'Righteous', Arial, cursive;
}